body {
  background-color: #f5f4f5;
  color:#2B2D42;
  margin:0
}


.App {
  text-align: center;
  font-family: "Tajawal", sans-serif;
  font-style: normal;

}

nav > a:hover{
  text-decoration:underline;
  color:#E8871E
}
nav > a:active{
  color:#E8871E
}

.app-nav {
  width: 100%;
  height: auto;
  display: flex;
  align-items: baseline;
  background-color: #EBEAEC;
  position: fixed;
  top:0px;
}


.logo {
  font-family: "Open Sans", sans-serif;
  text-align: left;
  padding-left: 50px;
  padding-top: 15px;
  margin-right: 150px;
  margin-bottom: 10px;
  color: #E8871E
}


.app-nav a {
  padding-bottom: 15px;
  padding-right: 80px;
  font-size: 1.15em;
  color: #3D3A40;
  text-decoration: none;
  text-align: center;
}


section{
  margin-top: 150px;
}



.home_main a {
  align-self: center;
  margin-bottom: 50px;
  margin-left: 100px;
  text-align: center;
  background-color: #B56576;
  color: white;
  text-decoration: none;
  width: 175px;
  padding: 20px;
  border-radius: 20px;
  font-size: 1em;
  font-weight: 500
}

.default {
  cursor: default;
}

.small-text {
  font-size: .70em
}

button {
  background-color: #A755C2;
  color: white;
  padding: 20px;
  border-radius: 20px;
  font-size: 1em;
  font-weight: 500;
  border: none;
  width: 175px;
  margin: 25px;
}

input, select {
  width: 100%;
  height: 40px;
  margin: 8px 0;
  padding: 5px 10px;
  border:none;
  background-color: #E6E8EF;
  border-radius: 5px;
  display: block;
  box-sizing: border-box;
}

label {
  padding: 10px;
  padding-right:5px;
  padding-bottom: 5px;
  text-align: left;
  display:block;
  width: 100%;
  font-size: 1em;
} 



fieldset {
  margin-top: 30px;
  border-radius:5px;
  border: 2px solid #E6E8EF;
  text-align: left;
  font-size: 1.2em;;
}
fieldset >label{
  font-size: 1em;;
}

.class-checkbox{
  display:flex;

}

.class-checkbox > input{
  padding-right: 5px;
  width:20px;
  align-self: center;
}

.class-checkbox > label{
  align-self: center;
}



form {
  width: 40%;
  margin: auto;
  margin-top: 150px;
  margin-bottom: 150px;;
  border:2px solid #E6E8EF;
  border-radius: 12px;
  padding: 50px;
}

table {
	border-collapse: collapse; 
  margin:auto;
  width: 70%;
  border-radius: 10px;
}

table td {
	padding: 15px;
  border: 1px solid #CECFDF;
  width:auto

}


table thead tr {
	background-color: #0094C6;
	color: #ffffff;
	font-size: 1em;
	border: 1px solid #0094C6;

}

th,td{
  padding: 15px;
  text-align: left;
}

tr:nth-child(even) { 
  background-color: #E6E8EF; 
}

